.deps
__pycache__
COPYING
INSTALL
Makefile
Makefile.bak
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
mailbox-preview
missing
xlbiff._man
xlbiff.o
xlbiff
XLbiff
xlbiff-*.tar.gz
debian/.debhelper/
debian/autoreconf.*
debian/debhelper-build-stamp
debian/files
debian/xlbiff*
