Source: xlbiff
Section: mail
Priority: optional
Maintainer: Stephen Gildea <stepheng+debian@gildea.com>
Rules-Requires-Root: no
Standards-Version: 4.7.2
Vcs-Git: https://github.com/edsantiago/xlbiff.git/
Vcs-Browser: https://github.com/edsantiago/xlbiff
Homepage: https://www.edsantiago.com/xlbiff/
Build-Depends:
 debhelper-compat (= 13),
 pkgconf,
 libxaw7-dev,
 libxt-dev,
 libxrandr-dev,
 libx11-dev

Package: xlbiff
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, nmh, python3
Recommends: xfonts-base
Description: mail notification pop-up with configurable message scans
 Xlbiff presents enough information to tell you: Is this new mail worth
 reading right now?  And it stops distracting you once you decide.
 .
 Xlbiff waits in the background, monitoring your mailbox file or IMAP
 server (or running your custom check-mail script).  When a new message
 arrives, it invokes the MH scan(1) command (or your custom
 mail-scanning script) and pops up a window with the output (typically
 the From and Subject line of each new message).  If more mail arrives,
 xlbiff scans again and resizes its preview window accordingly.
 .
 Clicking the left mouse button anywhere in the window causes it to
 vanish.  It will also vanish if the mailbox becomes empty.  Xlbiff
 stays out of your way when there is no new mail and pops up only
 when something requests your attention.
 .
 Included with xlbiff is mailbox-preview, a command-line program
 that peeks at an IMAP mailbox and uses scan to display a summary,
 one line per new message.   Local mailboxes are also supported:
 Maildir directories and any single-file format scan supports
 (mbox and MMDF).  Use mailbox-preview stand-alone on the command line
 or as the back-end of xlbiff.
